# WARNING: This file is managed by Puppet
#
# DCONF Proxy Settings
#
[org/gnome/system/proxy/http]
enable=<%= @gui_enable %>
host='<%= scope['httpproxy::proxy_host'] %>'
port='<%= scope['httpproxy::proxy_port'] %>'

[org/gnome/system/proxy/https]
enable=<%= @gui_enable %>
host='<%= scope['httpproxy::proxy_host'] %>'
port='<%= scope['httpproxy::proxy_port'] %>'

[org/gnome/system/proxy/ftp]
enable=<%= @gui_enable %>
host='<%= scope['httpproxy::proxy_host'] %>'
port='<%= scope['httpproxy::proxy_port'] %>'

