# WARNING: This file is managed by Puppet!!!
#
export http_proxy="http://<%= scope['httpproxy::proxy_host'] %>:<%= scope['httpproxy::proxy_port'] %>"
export https_proxy="http://<%= scope['httpproxy::proxy_host'] %>:<%= scope['httpproxy::proxy_port'] %>"
export no_proxy="<%= scope['httpproxy::no_proxy'].join(',') %>"
export HTTP_PROXY="http://<%= scope['httpproxy::proxy_host'] %>:<%= scope['httpproxy::proxy_port'] %>"
export HTTPS_PROXY="http://<%= scope['httpproxy::proxy_host'] %>:<%= scope['httpproxy::proxy_port'] %>"
export NO_PROXY="<%= scope['httpproxy::no_proxy'].join(',') %>"
